html {
  scroll-behavior: smooth;
}

main {
  flex: 1 1 auto;
  background-color: transparent;
}

body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
